n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-cake-order",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "supabase-webhook"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "orderId",
              "value": "={{$node[\"Webhook\"].json[\"record\"][\"id\"]}}"
            },
            {
              "name": "customerName",
              "value": "={{$node[\"Webhook\"].json[\"record\"][\"customerName\"]}}"
            },
            {
              "name": "customerEmail",
              "value": "={{$node[\"Webhook\"].json[\"record\"][\"email\"]}}"
            },
            {
              "name": "totalPrice",
              "value": "={{$node[\"Webhook\"].json[\"record\"][\"totalPrice\"]}}"
            },
            {
              "name": "cakeFlavor",
              "value": "={{$node[\"Webhook\"].json[\"record\"][\"flavor\"]}}"
            },
            {
              "name": "deliveryDate",
              "value": "={{$node[\"Webhook\"].json[\"record\"][\"deliveryDate\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Order Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Order Confirmation - Christos Cakes",
        "email": "={{$node[\"Extract Order Data\"].json[\"customerEmail\"]}}",
        "message": "Hi {{$node[\"Extract Order Data\"].json[\"customerName\"]}},\n\nThank you for your order! We've received your request for a {{$node[\"Extract Order Data\"].json[\"cakeFlavor\"]}} cake.\n\nOrder Details:\n- Order ID: {{$node[\"Extract Order Data\"].json[\"orderId\"]}}\n- Total Price: £{{$node[\"Extract Order Data\"].json[\"totalPrice\"]}}\n- Delivery Date: {{$node[\"Extract Order Data\"].json[\"deliveryDate\"]}}\n\nWe'll be in touch soon to confirm the details.\n\nBest,\nChristos Cakes",
        "options": {}
      },
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        650,
        200
      ],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "New Order Received! - £{{$node[\"Extract Order Data\"].json[\"totalPrice\"]}}",
        "email": "admin@christoscakes.com",
        "message": "New order alert!\n\nCustomer: {{$node[\"Extract Order Data\"].json[\"customerName\"]}}\nFlavor: {{$node[\"Extract Order Data\"].json[\"cakeFlavor\"]}}\nTotal: £{{$node[\"Extract Order Data\"].json[\"totalPrice\"]}}\nDelivery: {{$node[\"Extract Order Data\"].json[\"deliveryDate\"]}}\n\nView details in the admin dashboard.",
        "options": {}
      },
      "name": "Notify Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        650,
        400
      ],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:F",
        "options": {}
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        850,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Data": {
      "main": [
        [
          {
            "node": "Send Customer Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
