n8n_workflow.json
{
  "name": "Christos Cakes Automation (Twilio WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cake-orders",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "cake-orders-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "SEND_ORDER"
            }
          ]
        }
      },
      "name": "Is Invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:+YOUR_ADMIN_PHONE_NUMBER",
        "message": "🎂 *New Bespoke Order Received!*\n\n*Customer:* {{ $node[\"Webhook\"].json[\"body\"][\"customerName\"] }}\n*Flavor:* {{ $node[\"Webhook\"].json[\"body\"][\"flavor\"] }}\n*Size:* {{ $node[\"Webhook\"].json[\"body\"][\"size\"] }}\n*Date:* {{ $node[\"Webhook\"].json[\"body\"][\"deliveryDate\"] }}\n*Fulfillment:* {{ $node[\"Webhook\"].json[\"body\"][\"fulfillmentType\"] }}\n\nReview here: {{ $node[\"Webhook\"].json[\"body\"][\"appUrl\"] }}/#/admin"
      },
      "name": "Twilio Notify Admin",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        600,
        450
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json.phone }}",
        "message": "🧾 *Your Christos Cakes Order is Ready!*\n\nHi {{ $json.customerName }},\n\nThe baker has reviewed your bespoke cake order and your order details are now ready.\n\n*Total Amount:* £{{ $json.totalPrice }}\n\n*View & Pay Order:* {{ $json.appUrl }}/#/order/{{ $json.id }}\n\nThank you for choosing Christos Cakes!"
      },
      "name": "Twilio Send Invoice",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Order Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Invoice?": {
      "main": [
        [
          {
            "node": "Twilio Send Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Send Invoice": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Notify Admin": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "christos-cakes-automation-twilio"
}
