n8n/workflow.json
{
  "name": "Christos Cakes Automation (Twilio WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cake-orders",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "cake-orders-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "value2": "SEND_ORDER"
            }
          ]
        }
      },
      "name": "Is Order Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:+YOUR_ADMIN_PHONE_NUMBER",
        "message": "🎂 *New Bespoke Order Received!*\n\n*Customer:* {{ $json.customerName }}\n*Size:* {{ $json.size }}\n*Flavor:* {{ $json.flavor }}\n*Date:* {{ $json.deliveryDate }}\n*Message:* {{ $json.messageOnCake }}\n\nView in Admin Portal: {{ $json.appUrl }}/#/admin"
      },
      "name": "Notify Admin (WhatsApp)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        600,
        450
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json.phone }}",
        "message": "🧾 *Your Christos Cakes Order is Ready!*\n\nHi {{ $json.customerName }},\n\nThe baker has reviewed your bespoke cake order and your order details are now ready.\n\n*Total Amount:* £{{ $json.totalPrice }}\n\n*View & Pay Order:* {{ $json.appUrl }}#/order/{{ $json.id }}\n\nThank you for choosing Christos Cakes!"
      },
      "name": "Send Client Order (WhatsApp)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "name": "Daily 8AM Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        650
      ]
    },
    {
      "parameters": {
        "resource": "databaseTable",
        "operation": "get",
        "table": "settings",
        "id": 1
      },
      "name": "Get Admin Settings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        650
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID"
        }
      }
    },
    {
      "parameters": {
        "resource": "databaseTable",
        "operation": "getAll",
        "table": "orders",
        "filters": {
          "conditions": [
            {
              "key": "status",
              "operator": "notEqual",
              "value": "Cancelled"
            }
          ]
        }
      },
      "name": "Get All Orders",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        650
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orders = items.map(i => i.json);\nconst now = new Date();\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay());\nstartOfWeek.setHours(0, 0, 0, 0);\n\nconst endOfWeek = new Date(startOfWeek);\nendOfWeek.setDate(startOfWeek.getDate() + 7);\n\nconst weeklyOrders = orders.filter(o => {\n  const deliveryDate = new Date(o.deliveryDate);\n  return deliveryDate >= startOfWeek && deliveryDate < endOfWeek;\n});\n\nif (weeklyOrders.length === 0) return [];\n\nlet message = \"📅 *Weekly Order Action List*\\n\\n\";\nmessage += \"Here are the orders for this week that need your attention:\\n\\n\";\n\nweeklyOrders.forEach(o => {\n  const actionStatus = o.totalPrice > 0 ? \"✅ Price Set\" : \"⚠️ Price Needed\";\n  message += `🎂 *${o.customerName}*\\n📅 ${o.deliveryDate}\\n🍰 ${o.size} - ${o.flavor}\\n💰 ${actionStatus}\\n📍 ${o.fulfillmentType}\\n---\\n`;\n});\n\nmessage += \"\\nDon't forget to send the order details to your clients once the price is set!\";\n\nreturn [{ json: { message, adminPhone: $node[\"Get Admin Settings\"].json.adminWhatsAppNumber } }];"
      },
      "name": "Format Weekly Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        650
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json.adminPhone }}",
        "message": "={{ $json.message }}"
      },
      "name": "Send Weekly Summary",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        900,
        650
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Order Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Order Request?": {
      "main": [
        [
          {
            "node": "Send Client Order (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Admin (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Client Order (WhatsApp)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin (WhatsApp)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8AM Check": {
      "main": [
        [
          {
            "node": "Get Admin Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin Settings": {
      "main": [
        [
          {
            "node": "Get All Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Orders": {
      "main": [
        [
          {
            "node": "Format Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weekly Summary": {
      "main": [
        [
          {
            "node": "Send Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "christos-cakes-automation-twilio"
}
